body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: #858585;
}

label {
  display: block;
}

nav {
  position: absolute;
  display: flex;
  right: 10px;
}

.navLink {
  /* display: inline-block; */
  margin: 0px 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #acacac;
  width: 100%;
  height: 70px;
}

#navbar-logo {
  margin-left: 10px;
  height: 40px;
  margin: 0px 0px 0px;
}

#footer {
  position: fixed;
  color: white;
  bottom: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

#authform,
#categories,
#products,
#featured-products,
#home,
#cart,
.cart,
#order-history,
#single-product,
#signUpForm,
#thank-you,
#api-warning {
  display: block;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
}

#signUpForm {
  margin: 0;
  padding-bottom: 100px;
  padding-top: 100px;
}

.product-box {
  display: flex;
  justify-content: space-between;
}

#google-login-button {
  border: none;
  transition: all 0.75s ease;
  outline: none;
  border-radius: 3px;
  background-color: #cf000f;
  color: #ffffff;
  padding: 1em;
  border-radius: 3px;
  font-size: 40px;
}

#google-login-button:hover {
  background-color: #ad000f;
}
